@model OrderStatusViewModel

@{
    ViewData["Title"] = "Home";
}
<style>
    .card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>


<h1 class="col-md-12 alert alert-primary text-center text-black">Hello @ViewBag.EmployeeName</h1>



<div class="container ">
    <div class="col-md-12 ">
        <div class="row ">
            @for (int i = 0; i < ViewBag.OrderStatusNumbers.Count; i++)
            {
                <div class="col-xl-4 col-lg-6">
                    <div class="card l-bg-blue-dark overflow-hidden">
                        <div class="card-statistic-3 p-4">
                            <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">@ViewBag.OrderStatus[i].Name</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-center mb-0">
                                        @ViewBag.OrderStatusNumbers[i]
                                    </h2>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>


@*<div class="container">
    <div class="row mt-3">
        <div class="col-md-3 mb-4">
            <div class="card " style="height:150px;">
                <div class="card-body d-flex align-items-center justify-content-between px-3">
                    <div class="col-md-10 px-2 text-dark">
                        <h4>New</h4>
                        <p class="card-text">@Model.NewCount</p>
                    </div>

                    <div class="col-md-3">
                        <h5 class="card-title">
                            <i class="fa-sharp fa-solid fa-bag-shopping rounded-circle bg-info p-2"></i>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card" style="height:150px;">
                <div class="card-body d-flex align-items-center justify-content-between px-3">

                    <div class="col-md-10 px-2 text-dark">
                        <h4>Pending</h4>
                        <p class="card-text">@Model.pendingCount</p>
                    </div>
                    <div class="col-md-3">
                        <h5 class="card-title">
                            <i class="fa-sharp fa-solid fa-bag-shopping rounded-circle bg-info p-2"></i>
                        </h5>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card" style="height:150px;">
                <div class="card-body d-flex align-items-center justify-content-between px-3">

                    <div class="col-md-10 px-2 text-dark">
                        <h4>Order Has Delivered</h4>
                        <p class="card-text">@Model.The_order_has_been_deliveredCount</p>
                    </div>
                    <div class="col-md-3">
                        <h5 class="card-title">
                            <i class="fa-sharp fa-solid fa-bag-shopping rounded-circle bg-info p-2"></i>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card" style="height:150px;">
                <div class="card-body d-flex align-items-center justify-content-between px-3">
                    <div class="col-md-9 px-2 text-dark">
                        <h4>Delivered To Representative</h4>
                        <p class="card-text">@Model.sent_delivered_handedCount</p>
                    </div>
                    <div class="col-md-3">
                        <h5 class="card-title">
                            <i class="fa-sharp fa-solid fa-bag-shopping rounded-circle bg-info p-2"></i>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card" style="height:150px;">
                <div class="card-body d-flex align-items-center justify-content-between px-3">
                    <div class="col-md-10 px-2 text-dark">
                        <h4>Can't Reach</h4>
                        <p class="card-text">@Model.Can_not_reachCount</p>
                    </div>
                    <div class="col-md-3">
                        <h5 class="card-title">
                            <i class="fa-sharp fa-solid fa-bag-shopping rounded-circle bg-info p-2"></i>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card" style="height:150px;">
                <div class="card-body d-flex align-items-center justify-content-between px-3">
                    <div class="col-md-10 px-2 text-dark">
                        <h4>Postponed</h4>
                        <p class="card-text">@Model.postponedCount</p>
                    </div>
                    <div class="col-md-3">
                        <h5 class="card-title">
                            <i class="fa-sharp fa-solid fa-bag-shopping rounded-circle bg-info p-2"></i>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card" style="height:150px;">
                <div class="card-body d-flex align-items-center justify-content-between px-3">
                    <div class="col-md-10 px-2 text-dark">
                        <h4>Partially delivered</h4>
                        <p class="card-text">@Model.Partially_deliveredCount</p>
                    </div>
                    <div class="col-md-3">
                        <h5 class="card-title">
                            <i class="fa-sharp fa-solid fa-bag-shopping rounded-circle bg-info p-2"></i>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card" style="height:150px;">
                <div class="card-body d-flex align-items-center justify-content-between px-3">
                    <div class="col-md-10 px-2 text-dark">
                        <h4>Cancelled by Client</h4>
                        <p class="card-text">@Model.Canceled_by_ClientCount</p>
                    </div>
                    <div class="col-md-3">
                        <h5 class="card-title">
                            <i class="fa-sharp fa-solid fa-bag-shopping rounded-circle bg-info p-2"></i>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card" style="height:150px;">
                <div class="card-body d-flex align-items-center justify-content-between px-3">
                    <div class="col-md-10 px-2 text-dark">
                        <h4>Refused & Payment</h4>
                        <p class="card-text">@Model.Refused_with_paymentCount</p>
                    </div>
                    <div class="col-md-3">
                        <h5 class="card-title">
                            <i class="fa-sharp fa-solid fa-bag-shopping rounded-circle bg-info p-2"></i>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card" style="height:150px;">
                <div class="card-body d-flex align-items-center justify-content-between px-3">
                    <div class="col-md-10 px-2 text-dark">
                        <h4>Refused & Part Payment</h4>
                        <p class="card-text">@Model.Refused_with_part_paymentCount</p>
                    </div>
                    <div class="col-md-3">
                        <h5 class="card-title">
                            <i class="fa-sharp fa-solid fa-bag-shopping rounded-circle bg-info p-2"></i>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card" style="height:150px;">
                <div class="card-body d-flex align-items-center justify-content-between px-3">
                    <div class="col-md-10 px-2 text-dark">
                        <h4>Rejected & Not Paid</h4>
                        <p class="card-text">@Model.Rejected_and_not_paidCount</p>
                    </div>
                    <div class="col-md-3">
                        <h5 class="card-title">
                            <i class="fa-sharp fa-solid fa-bag-shopping rounded-circle bg-info p-2"></i>
                        </h5>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <div class="row justify-content-center">
        <div class="col-md-2">
            <a class="d-block mx-auto btn btn-outline-danger my-5 p-4" asp-action="Index" asp-controller="Order">Go To Orders Table</a>
        </div>
    </div>

</div>
*@