@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Index";
    int index = 1;
}

<h1>Employee</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="card shadow mb-4 text-center">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Phone number
                        </th>
                        <th>
                            Branch
                        </th>
                        <th>
                            Role
                        </th>
                        <th>
                            State
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.Id">

                            <td>
                                @(index++)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Branch.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role)

                            </td>
                            <td>
                                <label class="switch">
                                    <input onclick="changeStatus('@item.Id')" type="checkbox" @(item.IsDeleted ? "" : "checked")>
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a>
                            </td>

                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        function changeStatus(id) {
            $.ajax({
                url: `/Employees/changeState/${id}`,
                method: 'GET',
                success: function () {
                },
                error: function () {
                }
            });
        }
    </script>
}
@section HeadersTitle{
    Employee
}