@model List<IdentityRole>
@{
    ViewData["title"] = "Roles";
    int index = 1;

}
<h1>Roles</h1>


<div class="container my-2">
    <div class="row justify-content-between">
        <div>
            <h6 class="mt-2"><i class="fa-solid fa-house"></i> > <a asp-action="Index" class="text-decoration-none">Roles</a></h6>
        </div>


    </div>
</div>

<partial name="_AddRole" model="new RoleFormViewModel()"></partial>

<div class="card shadow mb-4 text-center">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th >Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="bg-light">
                    
                    @foreach (var role in Model)
                    {
                        <tr id="row_@role.Id">
                            <th scope="row">@(index++)</th>
                            <td id="name_@role.Id">@role.Name</td>
                            <td class="text-end">
                                @if (@role.Name != "SuperAdmin"){
                                <a class="btn btn-primary" asp-action="ManagePermissions" asp-route-roleId="@role.Id"><i class="fa-solid fa-gear"></i></a>
                                <a class="btn btn-danger" onclick="Remove('@role.Id')"><i class="fa-solid fa-trash"></i></a>
                                <a class="btn btn-success" onclick="Rename('@role.Id')"><i class="fa-solid fa-pen-to-square"></i></a>
                                }
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>


<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/js/demo/datatables-demo.js"></script>
@section Scripts {
    <script>
        function Rename(Rid) {


            var nameField = document.getElementById("name_" + Rid)
            bootbox.prompt({
                title: 'Please Enter New Name',
                value: nameField.innerText,
                centerVertical: true,
                callback: function (result) {
                    $.ajax({
                        url: `/Roles/Edit`,
                        data: {
                            id: Rid,
                            name: result,
                        },
                        success: function () {
                            nameField.innerText = result;
                        },
                        erorr: function () {

                        }
                    });
                    console.log(result);
                    console.log(Rid);
                }
            });
        }

        function Remove(id) {
            //ToDO: remove user
            var row = document.getElementById("row_" + id)

            bootbox.confirm({
                message: 'Do you want to delete user? you can restore it again.',
                buttons: {
                    confirm: {
                        label: 'Delete',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-primary'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: "POST",
                            url: `/Roles/Delete/${id}`,
                            dataType: "text",
                            success: function (response) {
                                row.remove();
                            },
                            error: function () {
                                alert("Something happend")
                            }
                        });
                    }
                    console.log('This was logged in the callback: ' + result);
                }
            });
        }
    </script>

}

