@model Order

@{
    ViewData["Title"] = "Create";
    SelectList deliverTypes = new SelectList(ViewBag.DeliverTypes, "Id", "Type");
    SelectList orderTypes = new SelectList(ViewBag.OrderTypes, "Id", "Name");
    SelectList paymentMethods = new SelectList(ViewBag.PaymentMethods, "Id", "Name");
    SelectList branches = new SelectList(ViewBag.Branches, "Id", "Name");
    SelectList governorate = new SelectList(ViewBag.Governorates, "Id", "Name");
    var OrderNo = (string)ViewBag.OrderNo;
    var TraderId = (string)ViewBag.TraderId;
}

<h1>Add Order</h1>

<div class="container my-2">
    <div class="row justify-content-between">
        <div>
            <h6 class="mt-2"><i class="fa-solid fa-house"></i> ><a asp-action="Index" class="text-decoration-none">Orders</a> > <b><a asp-action="create" class="text-decoration-none">Add Order</a></b></h6>
        </div>
    </div>
</div>

<hr />
<form asp-action="Create" method="post" asp-route-orderNO="@OrderNo">
    <div asp-validation-summary="All" class="text-danger"></div>

    <h4>Order type</h4>
    <div class="form-group p-4 border border-5 border-dark rounded mb-5">
        <div class="col-4">
            <label asp-for="OrderTypeId" class="control-label"></label>
        <select class="form-control" asp-for="OrderTypeId" asp-items="orderTypes">
            <option value="0">-- Select Order Type --</option>
        </select>
        <span asp-validation-for="OrderTypeId" class="text-danger"></span>
        </div>
        
    </div>

    <h4>Client data</h4>
    <div class="p-4 border border-5 mb-5 border-dark rounded">
        <span style="display:flex;flex-direction:row;">
            <div class="form-group mr-3">
                <label asp-for="ClientName" class="control-label"></label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>

            <div class="form-group mr-3">
                <label asp-for="ClientPhone1" class="control-label"></label>
                <input asp-for="ClientPhone1" class="form-control" />
                <span asp-validation-for="ClientPhone1" class="text-danger"></span>
            </div>
            <div class="form-group mr-3">
                <label asp-for="ClientPhone2" class="control-label"></label>
                <input asp-for="ClientPhone2" class="form-control" />
                <span asp-validation-for="ClientPhone2" class="text-danger"></span>
            </div>
            <div class="form-group mr-3">
                <label asp-for="ClientEmailAddress" class="control-label"></label>
                <input asp-for="ClientEmailAddress" class="form-control" />
                <span asp-validation-for="ClientEmailAddress" class="text-danger"></span>
            </div>
        </span>
        <span my-3" style="display:flex;flex-direction:row;">
            <div class="form-group mr-3">
                <label asp-for="ClientGovernorateId" class="control-label"></label>
                <select id="ClientGovernorateId" class="form-control" asp-for="ClientGovernorateId" asp-items="governorate" onchange="getCitesInGovernrate()">
                    <option value="0">-- Select Client Governorate --</option>
                </select>
                <span asp-validation-for="ClientGovernorateId" class="text-danger"></span>
            </div>


            <div class="form-group mr-3">
                <label asp-for="ClientCityId" class="control-label"></label>
                <select id="ClientCityId"  class="form-control" asp-for="ClientCityId">
                    <option value="0">-- Select Client City --</option>
                </select>
                <span asp-validation-for="ClientCityId" class="text-danger"></span>
            </div>
        </span>


    </div >


    


    @section Scripts{
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");

        }

        <script src="/lib/jquery/dist/jquery.js"></script>

        <script>
            function getCitesInGovernrate() {
            var governrateId = document.getElementById("ClientGovernorateId").value;
            console.log(governrateId);

            $.ajax({
            url: `/Order/getCitesByGovernrate?govId=${governrateId}`,
            success: function (result) {
            document.getElementById("ClientCityId").innerHTML = "";

            for (let i of result) {
            document.getElementById("ClientCityId").innerHTML +=
            `<option value=${i.id}>${i.name}</option>`
            }
            }
            });
            }

            function ToggleVillageName() {
            var Village_Input = document.getElementById("Village");
            Village_Input.toggleAttribute("disabled");
            }
        </script>
        <script>
            var products = []
            var product_table = document.getElementById("product_table")
            var i = 1;
            function AddProduct(order_no) {
                console.log("hi")
            
                var p_name = document.getElementById("p_name").value;
                console.log(p_name)
                var p_price = document.getElementById("p_price").value;
                console.log(p_price)

                var p_weight = document.getElementById("p_weight").value;
                console.log(p_weight)

                var p_quantity = document.getElementById("p_quantity").value;
                console.log(p_quantity)

                if (empty(p_name) || empty(p_price) || empty(p_weight) || empty(p_quantity)) {
                    alert("Please enter all product data")
                }
                else
                {
                    products.push({ ProductNo: i, Name: p_name, Quantity: p_quantity, Price: p_price, Weight: p_weight })
                    console.log(products)
                    $.ajax({
                        url: `/Order/AddProduct`,
                        data: {
                            orderno: order_no,
                            name: p_name,
                            quantity: p_quantity,
                            weight: p_weight,
                            price: p_price
                        },
                        success: function (data) {
                            console.log(data)
                            var row = document.createElement("tr")

                            var td_no = document.createElement("td")
                            td_no.innerHTML = i

                            var td_name = document.createElement("td")
                            td_name.innerHTML = p_name;
                            var td_price = document.createElement("td")
                            td_price.innerHTML = p_price;

                            var td_weight = document.createElement("td")
                            td_weight.innerHTML = p_weight;

                            var td_total = document.createElement("td")
                            td_total.innerHTML = Number(p_quantity) * Number(p_price);

                            var td_remove = document.createElement("td")
                            td_remove.innerHTML = `<a class="btn btn-danger" onclick="Remove(${data})">Delete</a>`;

                            var td_quantity = document.createElement("td")
                            td_quantity.innerHTML = p_quantity;
                            row.append(td_no, td_name, td_quantity, td_price, td_weight, td_total, td_remove)
                            row.setAttribute('id',`${data}`);
                            product_table.append(row)

                            i++;

                            document.getElementById("p_name").value = "";
                            document.getElementById("p_price").value = null;
                            document.getElementById("p_quantity").value = null;
                            document.getElementById("p_weight").value = null;
                        },
                        error: function () {

                        }
                    });
                    

                }
            }
            function Remove(id){
                $.ajax({
                    url: `/Order/DeleteProduct/${id}`,
                    success: function (data) {
                        document.getElementById(`${id}`).remove()
                    },
                    error: function () {

                    }
                });
            }
            function empty(e) {
                switch (e) {
                    case "":
                    case 0:
                    case "0":
                    case null:
                    case false:
                    case undefined:
                        return true;
                    default:
                        return false;
                }
            }
        </script>
    }



    <input hidden asp-for="OrderNo" value="@OrderNo"/>
    <input hidden asp-for="TraderId" value="@TraderId" />
    <h4>Order data</h4>

    <div class="p-4 border border-5 mb-5 border-dark rounded">
        <span >
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" onclick="ToggleVillageName()" asp-for="DeliverToVillage" /> @Html.DisplayNameFor(model => model.DeliverToVillage)
                </label>
            </div>

            <div class="form-group col-4 mb-5">
                <label asp-for="Village_Street" class="control-label"></label>
                <input id="Village" asp-for="Village_Street" class="form-control" disabled />
                <span asp-validation-for="Village_Street" class="text-danger"></span>
            </div>
        </span>
        <span style="display:flex;flex-direction:row;">

            <div class="form-group mr-5">
                <label asp-for="DeliveryTypeId" class="control-label"></label>
                <select class="form-control" asp-for="DeliveryTypeId" asp-items="deliverTypes">
                    <option value="0">-- Select Deliver Type --</option>
                </select>
                <span asp-validation-for="DeliveryTypeId" class="text-danger"></span>
            </div>

            <div class="form-group mr-5">
                <label asp-for="PaymentMethodId" class="control-label"></label>
                <select class="form-control" asp-for="PaymentMethodId" asp-items="paymentMethods">
                    <option value="0">-- Select Payment Method --</option>
                </select>
                <span asp-validation-for="PaymentMethodId" class="text-danger"></span>
            </div>

            <div class="form-group mr-5">
                <label asp-for="BranchId" class="control-label"></label>
                <select class="form-control" asp-for="BranchId" asp-items="branches">
                    <option value="0">-- Select Branch --</option>
                </select>
                <span asp-validation-for="BranchId" class="text-danger"></span>
            </div>

        </span>


    </div>
    

    <!-- Product section-->
    <h4>Order product</h4>
    <div class="p-4 border border-5 my-3 border-dark rounded">
        <span class="justify-content-between" style="display:flex;flex-direction:row;">
            <div>
                <label>Name</label>
                <input class="form-control"  type="text" placeholder="Product name" id="p_name" name="p_name" />
            </div>
            <div>
                <label>Quantity</label>
                <input class="form-control" type="number" placeholder="Quantity" id="p_quantity" name="p_quantity" />
            </div>
            <div>
                <label>Price</label>
                <input class="form-control" type="number" placeholder="Price" step="0.1" id="p_price" name="p_price" />
            </div>
            <div>
                <label>Weight</label>
                <input class="form-control" type="number"  placeholder="Weight" id="p_weight" name="p_weight" />
            </div>
            <div>
                <label></label>
                <a onclick="AddProduct('@OrderNo')" class="btn btn-success form-control mt-2">Add Product</a>
            </div>
        </span>
        <br />
        <hr />
        <br />
        <table class="table border border-1">
            <thead >
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Weight
                    </th>
                    <th>
                        Total Cost
                    </th>
                </tr>
            </thead>
            <tbody id="product_table">
                <tr>
                    @*product content*@
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" asp-route-orderNO="@OrderNo" />
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</div>
