@model List<Governorate>
@{
    ViewData["Title"] = "Index";
    var i = 1;
}

<h1>Governorates</h1>

<div class="container my-2">
    <div class="row justify-content-between">
        <div>
            <h6 class="mt-2"><i class="fa-solid fa-house"></i> > <a asp-action="Index" class="text-decoration-none">Governorates</a></h6>
        </div>

        <div>
            <a asp-action="Create" class="btn btn-primary">Add Governorate</a>
        </div>
    </div>
</div>



<div class="card shadow mb-4 text-center">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name </th>
                        <th>State</th>
                        <th>Edit</th>
                        <th>City</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.Id">
                            <td>@(i++)</td>
                            <td>@item.Name</td>
                            <td>
                                <label class="switch">
                                    <input id="switch-@item.Id" onclick="changeStatus(@item.Id)" type="checkbox" @(item.IsDeleted ? "" : "checked")>
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td>
                                <a asp-action="Edit" asp-controller="Governorate" asp-route-id="@item.Id" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a>

                            </td>
                            <td>
                                <a asp-action="Details" asp-controller="Governorate" asp-route-id="@item.Id" class="btn btn-secondary"><i class="fa-solid fa-city"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function changeStatus(id) {
                $.ajax({
                    url: `/Governorate/changeState/${id}`,
                    method: 'GET',
                    success: function () {
                    },
                    error: function () {
                    }
                });
            
        }
    </script>
}