@model List<Order>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<style>
    body {
        background-color: #f5f7fa;
    }

    a {
        cursor: pointer;
    }

    .card.map-card .living-coral {
        background: linear-gradient(to right, #373b44, #4286f4) !important;
        color: #fff;
    }

    .card.map-card .living-coral-text {
        color: linear-gradient(to right, #373b44, #4286f4) !important;
    }

    .card.map-card .table th {
        width: 2rem;
    }

    .card.map-card .pt-3-5 {
        padding-top: 1.25rem;
    }

    .card.map-card .card-body {
        position: absolute;
        width: 100%;
        height: 80%;
        top: 20%;
        overflow: hidden;
        background-color: transparent;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
        -webkit-border-radius: 0 !important;
        border-radius: 0 !important;
    }

        .card.map-card .card-body.closed {
            top: 100%;
            height: 7.5rem;
            margin-top: -7.5rem;
        }

    .card.map-card .map-container {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }

        .card.map-card .map-container iframe {
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }

    .card.map-card .button .btn-floating {
        margin-top: -1.5rem;
    }
</style>
@if (!Model.Any())
{
    <div class="alert alert-warning text-center" role="alert">
        You Don't Have Any orders
    </div>
}
<div class="container">
    <div class="row">
        @foreach (var order in Model)
        {

            <div class="col-lg-4 @order.Id">
                <section class="mx-auto my-5" style="max-width: 23rem;">

                    <div class="card map-card">
                        <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 400px">
                            <iframe src="https://maps.google.com/maps?q=${@order.ClientCity.Name}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                                    style="border:0" allowfullscreen></iframe>
                        </div>
                        <div class="card-body closed px-0">
                            <div class="button px-2 mt-3">
                                <a class="btn btn-floating btn-lg living-coral text-white float-end" style="margin-right: .75rem;">
                                    <i class="fas fa-bicycle "></i>
                                </a>
                            </div>
                            <div class="bg-white px-4 pb-4 pt-3-5">
                                <h5 id="@order.Id" class="card-title h5 living-coral-text">@order.OrderState.Name</h5>
                                <hr>
                                <div class="d-flex justify-content-around living-coral-text">
                                    <h6 class="card-subtitle font-weight-light">Client Name</h6>
                                    <h6 class="font-small font-weight-light mt-n1">@order.ClientName</h6>
                                </div>

                                <hr>
                                <div class="d-flex justify-content-between pt-2 mt-1 text-center text-uppercase living-coral-text">
                                    <div class="d-flex flex-column">
                                        <i class="fas fa-phone fa-lg mb-3"></i>
                                        <a class="mb-0" href="tel:@order.ClientPhone1">Call</a>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <i class="fa-solid fa-receipt fa-lg mb-3"></i>
                                        <a asp-action="Invoice" asp-controller="Order" asp-route-id="@order.Id" class="mb-0">Invoice</a>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <i class="fa-solid fa-arrows-rotate fa-lg mb-3"></i>
                                        <a onclick="Change(@order.Id)" class="mb-0">Status</a>
                                    </div>
                                </div>
                                <hr>
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <th scope="row" class="px-0 pb-3 pt-2">
                                                <i class="fas fa-map-marker-alt living-coral-text"></i>
                                            </th>
                                            <td class="pb-5 pt-2" >
                                                <p class="d-inline">@order.Village_Street, </p>
                                                <p class="d-inline">@order.ClientCity.Name,</p>
                                                <p class="d-inline">@order.ClientGovernorate.Name</p>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </section>

            </div>

        }
    </div>
</div>

<style>
    .bootbox-select select {
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 6px 12px;
        width: 100%;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
    }
</style>

@section Scripts {

    <script>
        const cards = document.querySelectorAll('.map-card');

        cards.forEach(card => {
            const cardBody = card.querySelector('.card-body');

            card.addEventListener('click', () => {
                cardBody.classList.toggle('closed');
            });
        });





        function Change(orderid) {

            const orderState = $('#' + orderid).text();

            const options = [
                {
                    text: 'Delivered to Rep.',
                    value: '3'
                },
                {
                    text: 'Delivered to client',
                    value: '4'
                },
                {
                    text: 'Cannot reach',
                    value: '5'
                },
                {
                    text: 'Postponed',
                    value: '6'
                },
                {
                    text: 'Partially delivered',
                    value: '7'
                },
                {
                    text: 'Canceled by client',
                    value: '8'
                },
                {
                    text: 'Declined, but Paid',
                    value: '9'
                },
                {
                    text: 'Declined, Partially Paid',
                    value: '10'
                },
                {
                    text: 'Declined, but not Paid',
                    value: '11'
                },
            ];

            const selectedValue = options.find(option => option.text === orderState)?.value;

            bootbox.prompt({
                title: 'This is a prompt with select!',
                inputType: 'select',
                inputOptions: options,
                value: selectedValue,

                callback: function (result) {
                    console.log(result);
                    $.ajax({
                        url: `/Representatives/ChangeStatus`,
                        data: {
                            orderId: orderid,
                            statusId: result,
                        },
                        success: function (data) {
                            console.log(data)
                            console.log(result)
                            $('#' + orderid).text(`${data}`);
                            if(result==4){
                              $('.' + orderid).remove();
                            }
                        },
                        error: function () {

                        }
                    });

                },
                className: 'bootbox-select'
            });
        }

    </script>

}